body {
    height: 100%;
    background-image: url("background.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    overflow: hidden;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    width:300px;
    height: 375px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 25px;
}

.btn {
    width: 45px;
    cursor: pointer;

    transition: width 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    color: black;
}

.btn:active {
    width:50px
}

h1, h2, h3, h4, h5, h6, p {
    font-family: monospace;
    color:white;
}